In [1]:
import pandas as pd

import numpy as np

In [3]:
import var_io

In [4]:
vh = var_io.VarHome()

#### 创建测试用的变量

In [5]:
a = 1
b = [1,2,3]
c = {1:2,2:3}
d = np.array([1,2,3])
e = pd.DataFrame([1,2,3])
f = pd.Series([2,3,4])
g = pd.date_range('2020-06-01','2020-06-10')

#### 查看变量

In [6]:
vh.vars()

  is_supported           type    size memory usage
a         True            int       1           28
b         True           list       3           88
c         True           dict       2          240
d         True  numpy.ndarray    (3,)          108
e         True      DataFrame  (3, 1)          176
f         True         Series    (3,)          176
g         True  DatetimeIndex   (10,)          104

#### 保存变量

In [7]:
vh.save_data('test.ipynbdata')

['a', 'b', 'c', 'd', 'e', 'f', 'g']

True

In [8]:
vh.vars()

  is_supported           type    size memory usage
a         True            int       1           28
b         True           list       3           88
c         True           dict       2          240
d         True  numpy.ndarray    (3,)          108
e         True      DataFrame  (3, 1)          176
f         True         Series    (3,)          176
g         True  DatetimeIndex   (10,)          104

#### 屏蔽变量

In [9]:
vh.exclude_var('a')

屏蔽变量：a

In [10]:
vh.vars()

  is_supported           type    size memory usage
b         True           list       3           88
c         True           dict       2          240
d         True  numpy.ndarray    (3,)          108
e         True      DataFrame  (3, 1)          176
f         True         Series    (3,)          176
g         True  DatetimeIndex   (10,)          104

#### 清空当前跟踪列表

In [11]:
vh.clear_list()

屏蔽变量：b
屏蔽变量：c
屏蔽变量：d
屏蔽变量：e
屏蔽变量：f
屏蔽变量：g

#### 追踪变量

In [12]:
vh.choose_var('e')

选定变量：e

In [13]:
vh.vars()

  is_supported       type    size memory usage
e         True  DataFrame  (3, 1)          176

#### 重置

In [14]:
vh.reset_all()

In [15]:
vh.vars()

  is_supported           type    size memory usage
a         True            int       1           28
b         True           list       3           88
c         True           dict       2          240
d         True  numpy.ndarray    (3,)          108
e         True      DataFrame  (3, 1)          176
f         True         Series    (3,)          176
g         True  DatetimeIndex   (10,)          104

#### 删除变量

In [16]:
vh.del_var('c')

删除的变量已不在当前命名空间中了

In [17]:
c

NameError: name 'c' is not defined

In [18]:
vh.vars()

  is_supported           type    size memory usage
a         True            int       1           28
b         True           list       3           88
d         True  numpy.ndarray    (3,)          108
e         True      DataFrame  (3, 1)          176
f         True         Series    (3,)          176
g         True  DatetimeIndex   (10,)          104

In [19]:
vh.del_var('a')
vh.del_var('d')
vh.del_var('e')
vh.del_var('g')

In [20]:
vh.vars()

  is_supported    type  size memory usage
b         True    list     3           88
f         True  Series  (3,)          176

In [21]:
a

NameError: name 'a' is not defined

In [22]:
vh.reset_all()

#### 将保存的变量载入到当前命名空间

In [23]:
vh.load_data('test.ipynbdata')

['a', 'b', 'c', 'e', 'f', 'g', 'd']

In [24]:
vh.vars()

  is_supported           type    size memory usage
a         True            int       1           28
b         True           list       3          112
c         True           dict       2          240
d         True  numpy.ndarray    (3,)          108
e         True      DataFrame  (3, 1)          176
f         True         Series    (3,)          176
g         True  DatetimeIndex   (10,)          104

删除的变量又回来了

In [25]:
a

1

In [26]:
g

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
               '2020-06-09', '2020-06-10'],
              dtype='datetime64[ns]', freq='D')